# игнорировать все объектные файлы
*.o
*.out
diploma
find_longest
polynomial
# игнорировать все выходные файлы кроме output.txt
output_*.txt

#игнорировать geany файлы
*.geany

# игнорировать временные файлы
tmp*
*~

# игнорировать latex файлы
*.aux
*.log
*.toc
*.nav
*.snm
*.dvi

# игнорировать промежуточные sage файлы
*.sage.py
