# игнорировать все объектные файлы
*.o
*.out
diploma
# игнорировать все выходные файлы кроме output.txt
output_*.txt

# игнорировать временные файлы
tmp*
*~

# игнорировать latex файлы
*.aux
*.log
*.toc

# игнорировать промежуточные sage файлы
*.sage.py
